html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block; }

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

audio:not([controls]) {
  display: none; }

[hidden] {
  display: none; }

html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

a {
  color: blue; }

a:focus {
  outline: thin dotted; }

li {
  list-style: none; }

abbr[title] {
  border-bottom: none; }

b, strong {
  font-weight: 700; }

i, em, dfn {
  font-style: italic; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

ins {
  background: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold; }

pre, code, kbd, samp {
  font-family: monospace, monospace;
  _font-family: 'courier new', monospace; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: none; }

q:before, q:after {
  content: "";
  content: none; }

small {
  font-size: 85%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle; }

label {
  cursor: pointer; }

input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

button, input {
  line-height: normal;
  *overflow: visible; }

button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td {
  vertical-align: top; }

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased; }

.group:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0; }

.row {
  width: 100%;
  max-width: 100%;
  margin: 0 auto; }

.row:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0; }

.row .row {
  margin: 0 -15px;
  max-width: none;
  width: auto; }

.col {
  position: relative;
  display: block;
  float: left;
  padding: 0 15px; }

.col + .col:last-child {
  float: right; }

.all-left .col + .col:last-child {
  float: left; }

@media only screen {
  .sm-1 {
    width: 8.33333%; }
  .sm-2 {
    width: 16.66667%; }
  .sm-3 {
    width: 25%; }
  .sm-4 {
    width: 33.33333%; }
  .sm-5 {
    width: 41.66667%; }
  .sm-6 {
    width: 50%; }
  .sm-7 {
    width: 58.33333%; }
  .sm-8 {
    width: 66.66667%; }
  .sm-9 {
    width: 75%; }
  .sm-10 {
    width: 83.33333%; }
  .sm-11 {
    width: 91.66667%; }
  .sm-12 {
    width: 100%; } }

@media only screen and (min-width: 768px) {
  .md-1 {
    width: 8.33333%; }
  .md-2 {
    width: 16.66667%; }
  .md-3 {
    width: 25%; }
  .md-4 {
    width: 33.33333%; }
  .md-5 {
    width: 41.66667%; }
  .md-6 {
    width: 50%; }
  .md-7 {
    width: 58.33333%; }
  .md-8 {
    width: 66.66667%; }
  .md-9 {
    width: 75%; }
  .md-10 {
    width: 83.33333%; }
  .md-11 {
    width: 91.66667%; }
  .md-12 {
    width: 100%; } }

@media only screen and (min-width: 980px) {
  .lg-1 {
    width: 8.33333%; }
  .lg-2 {
    width: 16.66667%; }
  .lg-3 {
    width: 25%; }
  .lg-4 {
    width: 33.33333%; }
  .lg-5 {
    width: 41.66667%; }
  .lg-6 {
    width: 50%; }
  .lg-7 {
    width: 58.33333%; }
  .lg-8 {
    width: 66.66667%; }
  .lg-9 {
    width: 75%; }
  .lg-10 {
    width: 83.33333%; }
  .lg-11 {
    width: 91.66667%; }
  .lg-12 {
    width: 100%; } }

@media only screen and (min-width: 1130px) {
  .xlg-1 {
    width: 8.33333%; }
  .xlg-2 {
    width: 16.66667%; }
  .xlg-3 {
    width: 25%; }
  .xlg-4 {
    width: 33.33333%; }
  .xlg-5 {
    width: 41.66667%; }
  .xlg-6 {
    width: 50%; }
  .xlg-7 {
    width: 58.33333%; }
  .xlg-8 {
    width: 66.66667%; }
  .xlg-9 {
    width: 75%; }
  .xlg-10 {
    width: 83.33333%; }
  .xlg-11 {
    width: 91.66667%; }
  .xlg-12 {
    width: 100%; } }

strong, b {
  font-weight: 700; }

em, i {
  font-style: italic; }

ul, ol, dl {
  margin-left: 20px; }

ul {
  list-style: disc; }

ol {
  list-style: decimal; }

@media only screen {
  h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0; }
  h1 {
    font-size: 2.6rem;
    line-height: 1.2;
    letter-spacing: -0.1rem; }
  h2 {
    font-size: 2.4rem;
    line-height: 1.25;
    letter-spacing: -0.1rem; }
  h3 {
    font-size: 2.2rem;
    line-height: 1.3;
    letter-spacing: -0.1rem; }
  h4 {
    font-size: 2rem;
    line-height: 1.35;
    letter-spacing: -0.08rem; }
  h5 {
    font-size: 1.8rem;
    line-height: 1.5;
    letter-spacing: -0.05rem; }
  h6 {
    font-size: 1.6rem;
    line-height: 1.6;
    letter-spacing: 0; } }

@media only screen and (min-width: 641px) {
  h1 {
    font-size: 2.8rem; }
  h2 {
    font-size: 2.6rem; }
  h3 {
    font-size: 2.4rem; }
  h4 {
    font-size: 2.2rem; }
  h5 {
    font-size: 2rem; }
  h6 {
    font-size: 1.8rem; } }

input[type="email"], input[type="number"], input[type="search"], input[type="text"], input[type="tel"], input[type="url"], input[type="password"], textarea, select {
  height: 38px;
  padding: 6px 10px;
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box; }

input[type="email"], input[type="number"], input[type="search"], input[type="text"], input[type="tel"], input[type="url"], input[type="password"], textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px; }

input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="text"]:focus, input[type="tel"]:focus, input[type="url"]:focus, input[type="password"]:focus, textarea:focus, select:focus {
  border: 1px solid #33C3F0;
  outline: 0; }

label, legend {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 600; }

fieldset {
  padding: 0;
  border-width: 0; }

input[type="checkbox"], input[type="radio"] {
  display: inline; }

label > .label-body {
  display: inline-block;
  margin-left: 0.5rem;
  font-weight: 400; }

th, td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #E1E1E1; }

th:first-child, td:first-child {
  padding-left: 0; }

th:last-child, td:last-child {
  padding-right: 0; }

.left {
  float: left; }

.right {
  float: right; }

.table {
  display: table;
  height: 100%;
  width: 100%; }

.table .table-cell {
  display: table-cell;
  vertical-align: middle;
  width: 100%; }

.inline-list {
  list-style: none;
  margin: 0; }

.inline-list li {
  display: inline-block; }

.inline-list li a {
  display: block; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.text-justify {
  text-align: justify; }

@media only screen {
  .small-hide, .hide-small {
    display: none; }
  .small-invisible, .invisible-small {
    visibility: hidden; }
  .small-show, .show-small {
    display: block; }
  .small-visible, .visible-small {
    visibility: visible; } }

@media only screen and (min-width: 768px) {
  .medium-hide, .hide-medium {
    display: none; }
  .medium-invisible, .invisible-medium {
    visibility: hidden; }
  .medium-show, .show-medium {
    display: block; }
  .medium-visible, .visible-medium {
    visibility: visible; } }

@media only screen and (min-width: 980px) {
  .large-hide, .hide-large {
    display: none; }
  .large-invisible, .invisible-large {
    visibility: hidden; }
  .large-show, .show-large {
    display: block; }
  .large-visible, .visible-large {
    visibility: visible; } }

@media only screen and (min-width: 1130px) {
  .x-large-hide, .hide-x-large {
    display: none; }
  .x-large-invisible, .invisible-x-large {
    visibility: hidden; }
  .x-large-show, .show-x-large {
    display: block; }
  .x-large-visible, .visible-x-large {
    visibility: visible; } }

html {
  font-size: 62.5%; }

body {
  font-size: 1.5em;
  font-weight: 400;
  line-height: 1.6;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  color: #222; }

a {
  -webkit-transition: all 0.15s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -moz-transition: all 0.15s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -o-transition: all 0.15s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -ms-transition: all 0.15s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: all 0.15s cubic-bezier(0.455, 0.03, 0.515, 0.955); }

img {
  max-width: 100%;
  height: auto; }

body {
  background: #fff;
  font-family: 'Raleway', sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.6;
  color: #2b2b2b; }

a {
  color: #bcd325;
  text-decoration: none;
  outline: none !important; }
  a:hover {
    color: #2b2b2b; }

.row.not-full {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px; }

.button {
  background: #bcd325;
  display: inline-block;
  color: #fff;
  line-height: 50px;
  padding: 0 50px;
  font-weight: 600; }
  .button:hover {
    background: #9fb01f;
    color: #fff; }

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10; }
  .header .logo {
    padding: 50px 0; }
  .header a {
    color: #fff; }
  .header a:hover {
    color: #bcd325; }
  .header .site-nav li {
    text-transform: uppercase;
    padding: 0 15px;
    line-height: 1; }
    .header .site-nav li a {
      font-weight: 600;
      padding: 10px 2px; }
    .header .site-nav li.active a {
      border-bottom: #bcd325 2px solid; }

.hero {
  background: #272727;
  color: #fff; }
  .hero .hero-inner {
    position: relative;
    max-width: 1600px;
    margin: 0 auto; }
    .hero .hero-inner img {
      position: absolute;
      bottom: -1px;
      left: 0; }

.section .line {
  background: #bcd325;
  display: block;
  width: 80px;
  height: 2px;
  margin: 0 auto 50px; }
.section .section-title {
  font-family: 'Playfair Display', serif;
  font-size: 4.2rem;
  margin: 0 0 30px;
  padding: 0 50px; }
.section .blurb {
  padding: 0 110px;
  color: #6a6a6a; }
  .section .blurb span {
    color: #bcd325;
    font-weight: 600; }
.section.studio {
  padding: 100px 0; }

.features.row {
  margin-top: 45px; }
.features .col {
  padding: 0 25px; }
.features .feature-content {
  padding: 0 35px; }
.features h3 {
  font-size: 3rem;
  font-family: 'Playfair Display', serif;
  line-height: 1;
  margin: 25px 0; }
.features p {
  color: #6a6a6a; }
@media screen and (max-width: 767px) {
  .features .feature {
    margin-bottom: 30px; } }

.work-item {
  color: #fff;
  position: relative; }
  .work-item .work-top {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    padding: 80px 0 0; }
  .work-item .agency {
    color: #fff;
    font-size: 1.3rem;
    font-weight: 700;
    text-transform: uppercase;
    -moz-opacity: 0.4;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    filter: alpha(opacity=40);
    -khtml-opacity: 40;
    opacity: 0.4; }
  .work-item .work-title {
    font-size: 6.5rem;
    font-family: 'Playfair Display', serif;
    margin-bottom: 30px; }
  .work-item .work-copy {
    background: #fff;
    margin-top: -100px;
    padding: 140px 0 90px;
    color: #6a6a6a; }
    .work-item .work-copy .row {
      padding: 0 100px; }
    .work-item .work-copy p {
      margin-bottom: 40px; }

.contact {
  background: #131313;
  padding: 130px 0;
  color: #fff; }
  .contact .footer-logo {
    margin-bottom: 40px; }
  .contact .contact-info {
    list-style: none;
    margin: 0;
    font-family: 'Playfair Display', serif;
    font-size: 1.8rem;
    margin-bottom: 35px; }
  .contact .social-links a {
    padding: 0 13px;
    font-size: 2.2rem; }
    .contact .social-links a:hover {
      color: #fff; }
