// ==========================================================================
// Variables
// ==========================================================================

$brand_col:#bcd325;
$font_col:#2b2b2b;

$font_stack:'Raleway', sans-serif;
$alt_font:'Playfair Display', serif;