// ==========================================================================
// Buttons
// ==========================================================================

.button{
	background:$brand_col;
	display:inline-block;
	color:#fff;
	line-height:50px;
	padding:0 50px;
	font-weight:600;
	
	&:hover{
		background:darken($brand_col, 8%);
		color:#fff
	}//:hover
	
}//.button