// ==========================================================================
// Hero
// ==========================================================================

.hero{
	background:#272727;
	color:#fff;
	
	.hero-inner{
		position:relative;
		max-width:1600px;
		margin:0 auto;
		
		img{
			position:absolute;
			bottom:-1px;left:0
		}
		
	}//.hero-inner
	
}//.hero