// ==========================================================================
// Homepage - Work
// ==========================================================================

.row.work-items{ max-width:1200px }

.work-item{
	padding:25px;
	
	.inner{
		box-shadow:0 0 10px rgba(0, 0, 0, 0.05);
		@include sd-transition(0.25s);
		
		&:hover{ box-shadow:0 0 10px rgba(0, 0, 0, 0.3) }
		
	}//.inner
	
	.work-details{
		background:#fff;
		padding:20px 25px
	}//.work-details
	
	a{
		color:#343434
	}//a
	
	.client{
		font-size:1.2rem;
		text-transform:uppercase;
		color:$brand_col;
		font-weight:700;
		line-height:1;
		margin:0 0 7px
	}//.client
	
	h3{
		font-family:$alt_font;
		font-size:3rem;
		line-height:1;
		margin:0 0 10px
	}//h3
	
	.tags{
		font-size:1rem;
		color:#cacaca;
		font-weight:600;
		text-transform:uppercase;
		
		li:not(:last-child):after{
			content:", "
		}
		
	}//.tags
	
}//.work-item