// ==========================================================================
// Homepage Sections
// ==========================================================================

.section{

	.line{
		background:$brand_col;
		display:block;
		width:80px;height:2px;
		margin:0 auto 50px
	}//.line
	
	&.work .line{ margin:55px auto 80px }

	.section-title{
		font-family:$alt_font;
		font-size:4.2rem;
		margin:0 0 30px;
		padding:0 50px;
	}//.section-title
	
	.blurb{
		padding:0 110px;
		color:#6a6a6a;
		
		span{
			color:$brand_col;
			font-weight:600
		}//span
		
	}//.blurb
	
	&.studio{
		background:#f9f9f9;
		padding:100px 0
	}//.studio
	
}//.section