// ==========================================================================
// Homepage - Features
// ==========================================================================

.features{
	
	&.row{ margin-top:45px }
	
	.col{ padding:0 25px }
	
	.feature-content{ padding:0 35px }
	
	h3{
		font-size:3rem;
		font-family:$alt_font;
		line-height:1;
		margin:25px 0
	}//h3
	
	p{ color:#6a6a6a }
	
	@media screen and ( max-width:767px ){
		
		.feature{ margin-bottom:30px }
		
	}
	
}//.features