// ==========================================================================
// Misc.
// ==========================================================================

body{
	background:#fff;
	font-family:$font_stack;
	font-size:1.5rem;
	font-weight:500;
	line-height:1.6;
	color:$font_col;
}//body

a{
	color:$brand_col;
	text-decoration:none;
	outline:none!important;
	
	&:hover{ color:$font_col }
	
}//a

.row.not-full{
	max-width:1000px;
	margin:0 auto;
	padding:0 20px
}//.row.not-full