// ==========================================================================
// Misc.
// ==========================================================================

body{
	background:#f9f9f9;
	font-family:$font_stack;
	font-size:1.5rem;
	font-weight:500;
	line-height:1.6;
	color:$font_col;
}//body

a{
	color:$brand_col;
	text-decoration:none;
	outline:none!important;
	
	&:hover{ color:$font_col }
	
}//a

.row.not-full{
	max-width:1000px;
	margin:0 auto;
	padding:0 20px
}//.row.not-full

.lazy{
	position:relative;
	display:inline-block;
}

.lazy-load-me{
	position:absolute;
	top:0;left:0;
	@include sd-opacity(0);
	@include sd-transition(0.25s);
	
	&.fade{ @include sd-opacity(1) }
	
}