// ==========================================================================
// CSS block mixins
// ==========================================================================

@mixin sd-center-element{
	display:block;
	margin:0 auto;
}

@mixin sd-clearfix{
	&:after{
		visibility:hidden;
		display:block;
		content:"";
		clear:both;
		height:0
	}
}

@mixin sd-absolute-cover{
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0
}

@mixin sd-list-reset{
	list-style:none;
	margin:0
}

@mixin sd-pad-reset{
	margin:0;
	padding:0
}

@mixin sd-trunc{
	display:block;
	width:100%;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap
}

// ==========================================================================
// Variable enabled mixins
// ==========================================================================

@mixin sd-position($position:relative, $top:null, $left:null, $right:null, $bottom:null){
	position:$position;
	top:$top;
	left:$left;
	right:$right;
	bottom:$bottom;
}

@mixin sd-border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	-o-border-radius: $radius;
	border-radius: $radius;
}

@mixin sd-opacity($value){
  	$ievalue: $value*100;
  	-moz-opacity: $value;
  	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity="+$ievalue+")";
  	filter: alpha(opacity=$ievalue);
  	-khtml-opacity: $ievalue;
  	opacity: $value;
}

@mixin sd-gradient-bg($angle, $from, $to){
	background: -webkit-linear-gradient($angle, $from, $to);
	background: -o-linear-gradient($angle,  $from, $to);
	background: -moz-linear-gradient($angle,  $from, $to);
	background: linear-gradient($angle,  $from, $to);
}

@mixin sd-hidpi($ratio: 2) {
  @media only screen and (-webkit-min-device-pixel-ratio: $ratio),
  only screen and (min--moz-device-pixel-ratio: $ratio),
  only screen and (-o-min-device-pixel-ratio: #{$ratio}/1),
  only screen and (min-resolution: #{round($ratio*96)}dpi),
  only screen and (min-resolution: #{$ratio}dppx) {
    @content;
  }
}

@mixin sd-placeholder{
	::-webkit-input-placeholder { @content }
	:-moz-placeholder { @content }
	::-moz-placeholder { @content }
	:-ms-input-placeholder { @content }
}

@mixin sd-prefixer($property, $value, $includeMoz:true){
	// If $includeMoz value equals true (Default), show -moz- prefix
	@if $includeMoz == true{
		-moz-#{$property}:$value;
	}
	-webkit-#{$property}:$value;
	#{$property}:$value;
}


@mixin sd-retina-image($filename, $format:png, $size: 0px 0px, $directory:img, $suffix:2x){
	background-image:url('#{$directory}/#{$filename}@#{$suffix}.#{$format}');
	background-size:$size;
}

// ==========================================================================
// Animation Mixins
// ==========================================================================

@mixin sd-transition($speed, $ease:$ease-in-out-quad){
	-webkit-transition: all $speed $ease;
   	-moz-transition: all $speed $ease;
   	-o-transition: all $speed $ease;
   	-ms-transition: all $speed $ease;
   	transition: all $speed $ease;
}

@mixin sd-animation-delay($delay){
	-moz-animation-delay:$delay;
	-webkit-animation-delay:$delay;
	animation-delay:$delay;
}

@mixin sd-keyframes($name){
	
	@-webkit-keyframes #{$name}{
		@content;
	}
	
	@-moz-keyframes #{$name}{
		@content;
	}
	
	@keyframes #{$name}{
		@content;
	}
	
}